/* coding with nick */

.time {
  font-size: 32px;
  border: 1px solid #03cae4;
  border-radius: 10px;
  padding: 6px;
  background: #03cae4;
  color: white;
  width: 100px;
  height: 50px;
  margin-left: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
  animation-name: shine;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shine {

  0%,
  100% {
      box-shadow: 0px 0px 32px -12px rgba(246, 180, 0, .5);
  }

  50% {
      box-shadow: 0px 0px 32px 3px rgba(246, 180, 0, .5);
  }
}

.quiz-header {
  padding: 2rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

/* .wrapper p{
display: flex;
justify-content: center;  
align-items: center;
position: absolute;
color: #ffffff;
font-size: 70px;
width: 350px;
height: 350px;
margin-top: 150px;
margin-left: 730px;
background-color: #151538;
border-radius: 50%;
animation-name: shine;
animation-duration: 2s;
animation-iteration-count: infinite;
}
@keyframes shine{
0%,100%{
    box-shadow: 0px 0px 32px -12px rgba(246, 180, 0, .5);
}
50%{
    box-shadow: 0px 0px 32px 3px rgba(246, 180, 0, .5);
}
}
.Wbtn{
background-color: #222242;
padding: 10px 38px;
border: 1px solid #A9A9A9;
border-radius: 28px;
color: #fff;
transition: all .2s ease;

margin-right: 10px;
margin-top: 130px;
}


.Wbtn:hover,
.Wbtn:focus
{
border-color: #F6B400;
color: #F6B400;
box-shadow: 0px 4px 27px -12px #F6B400;
} */

button {
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover {
  background-color: #04adc4;
}

button:focus {
  outline: none;
  background-color: #44b927;
}